@use 'maps';
@use 'mixins';
@use 'variables';
@use 'sass:map';
@use 'math';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: map.get(maps.$font-weights, "regular")
}

body {
    
    background-color: variables.$primaryColor;
    color: variables.$primaryTextColor;
    @include mixins.flexElement();
}

.form {

    &__description {
        font-size: math.pixelParaEm(18px);
    }
}