@use 'maps';
@use 'mixins';
@use 'variables';
@use 'sass:map';
@use 'math';
@use 'breakpoints';
@use 'reset';

body {
    background-color: variables.$primaryColor;
    color: variables.$primaryTextColor;
    @include mixins.flexElement();
    font-weight: map.get(maps.$font-weights, "regular");

    @media screen and (max-width: breakpoints.$tablet) {
        background-color: variables.$secondaryColor;
    }

    @media screen and (max-width: breakpoints.$desktop) {
        background-color: variables.$primaryTextColor;
    }
}

.form {

    &__description {
        font-size: math.pixelParaEm(18px);
    }
}